* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Patua One", cursive;
  font-size: 18px; }

.navbar {
  background-color: #7952b3;
  align-items: center; }

nav ul li {
  padding: 20px; }

nav ul li a {
  color: white; }

nav ul li a:hover {
  color: #ffe484; }

.logo {
  display: flex;
  align-items: center; }

.logo img {
  height: 50px;
  margin-right: 10px; }

.Cbum-logo {
  font-size: 5px;
  color: white; }

.card {
  width: auto;
  margin: 50px;
  padding: 30px;
  background-color: #7952b3;
  color: white; }

.form-register {
  width: 400px;
  background-color: #7952b3;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #650add; }
  .form-register__h4 {
    font-size: 22px;
    margin-bottom: 20px; }

.form-register .botoms {
  width: 100%;
  background-color: #7d378f;
  color: white;
  border: none;
  margin: 16px 0;
  font-size: 16px;
  padding: 5px; }

.controls {
  width: 100%;
  background-color: #7952b3;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #ffe484; }

.section-nosotros {
  text-align: center;
  padding: 40px;
  margin: 40px;
  border: 20px solid #7952b3;
  background-color: #ffe484;
  color: black; }

.h2-nosotros {
  padding: 20px 0;
  text-align: center;
  font-size: 1.9em; }

.preguntas-frecuentes {
  text-align: center;
  padding: 40px;
  margin: 40px;
  border: 20px solid #7952b3;
  background-color: #ffe484; }

.h2-frecuentes {
  padding: 20px 0;
  text-align: center;
  font-size: 1.9em; }

footer {
  background-color: #7952b3;
  margin-top: 30px;
  color: white; }
