*{
    margin: 0;
    padding: 0;
    box-sizing::border-box
}

body {
    font-family: 'Patua One', cursive;
    font-size: 18px;
    margin: 0;
    display: grid;
    min-height: 100vh;
    
       
    grid-template-rows: auto 1fr auto;
    color: black;
    

    
}







a{
    text-decoration: none;
    
}


.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 70px;
    margin-right: 80px;
    margin-left: 40px;
    letter-spacing: 40px;
    font-size:1.5em;
    
}

    


}
/*TRANSICION*/
nav a:hover{
    color: black;
    
    

}

.page-content{
    display: auto;
    flex-wrap: auto;
    justify-content: space-evenly;
    border: solid black;

}



.product-container{
    margin: 15px;
    padding: 2px 16px;
}



.product-container img{
    width: 300px;
}


.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.section-inicio{
    text-align: center;
    
    padding: 30px;
}
.section-inicio p{
    margin-right: 0%;
    padding: 40px;
    font-size: 18px;

}

.img__section_inicio:{
    width: 200px
}
    




.img__section_bakcground{
    padding: 30px;
    border-radius: 8%;
    width: 400px;
    border: solid black

}


.h2-nosotros{
    padding: 20px;
}


.p-nosotros{
    padding: 10px;
    margin: 10px;
}

.main{
    padding-top: 10rem;
   background-color: rgba(218, 212, 212, 0.801);
 
}


.sectionTexto{
    text-align: center;
}


.aside-inicio{
    text-align: center;
}



.section-nosotros{
    text-align: center;
    
}


.preguntas-frecuentes{
    text-align: center;
}






   

   







footer {
color: white;
text-align: center;
margin-top: 0;
background-color: #9005c7;
height: auto;
width: 100%;

}
footer a{
    color: white;
}





    


    

 

   
